@{
    Layout = "~/Views/Shared/_factorylayout.cshtml";

}
@section navi{
<h4 class="head4"> News Of Wall  </h4>
<div class="form-group">
    <label for="comment"> id</label>

    <div class="input-group"><input type="text" class="form-control" aria-label="Text input with segmented button dropdown" /></div>
    <label for="comment"> News</label>

    <textarea class="form-control" rows="3" id="comment"></textarea>
</div>
<button type="button" class="btn btn-warning">Add</button>
<br />
<br />
<br />
<label for="comment"> id</label>
<br />

<div class="input-group"><input type="text" class="form-control" aria-label="Text input with segmented button dropdown" /></div>
<br />
<textarea class="form-control" rows="3" id="comment"></textarea>
<br />
<button type="button" class=" col-lg-12 btn btn-success">update</button>
<br />
<br />
<br />
<br />



<th scope="row">
    <label for="comment"> id</label>

    <div class="input-group"><input type="text" class="form-control" aria-label="Text input with segmented button dropdown" /></div>

</th>
<br />

<button type="button" class="btn btn-danger">Delete</button>
}