
@{
    ViewBag.Title = "login";
}

<h2>login</h2>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Task</title>

    <meta charset="uTf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

</head>

<body>


    <div class="container text-center">

        <div class="row">
            <div class="col-lg-6">
                <h1 class="login">Register</h1>
                <form action="login.php" method="POST">
                    <input class="form-control input-lg" type="text" name="user" placeholder="Enter Your Name " required /> <br>
                    <input class="form-control input-lg" type="password" name="pass" placeholder="Enter Your Password " required /> <br>
                    <input class="form-control input-lg" type="passeord" name="email" placeholder="Enter Your Email " required /> <br>
                    <input class="form-control input-lg" type="text" name="phone" placeholder="Enter Your phone " required /> <br>
                    <input style="background-color:green; color:white;" class="form-control input-lg" type="submit" value="Register" name="Register" />
                </form>
            </div>

            <div class="col-lg-6">
                <h1 class="login">Login </h1>
                <form action="login.php" method="POST">
                    <input class="form-control input-lg" type="text" name="userlogin" placeholder="Enter Your Email OR Name" required /> <br>
                    <input class="form-control input-lg" type="password" name="passlogin" placeholder="Enter Your Pass " required /> <br>

                    <input style="background-color:green; color:white;" class="form-control input-lg" type="submit" value="Submit" name="login" />
                </form>
            </div>
        </div>

    </div>


</body>
</html>


