@{
    Layout = "~/Views/Shared/_factorylayout.cshtml";

}
@section navi{
<h4 class="head4"> Suggest Article</h4>
<div class="form-group">

    <label for="comment"> Write Here </label>

    <textarea class="form-control" rows="3" id="comment"></textarea>
</div>
<button type="button" class="btn btn-warning">Add</button>
<br />
<br />
<br />
<div class="form-group">

    <label for="comment"> Send message </label>

    <textarea class="form-control" rows="3" id="comment"></textarea>
</div>
<button type="button" class="btn btn-info">Send</button>
<br />
    }