@{
    Layout = "~/Views/Shared/_walllayout.cshtml";

}

@section navi{

<h4>Awesome Display</h4>
<p class="lead">Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat.</p>

}





  
        <!-- Template-->
        <div class="contain">
            <div class="row">

                <div class="col-lg-4 picprod ">
                    <img src="http://placehold.it/300x200" class="img-responsive text-center center-block" /><br />


                </div>

                <div class=" col-lg-8 detail">
                    <b>
                        <font color="white" size="6">Article</font><b>
                            <p>
                                This page demonstrates the decimal representation of color of
                                the form rgba(R,G,B,a), where R, G, and B are the decimal values
                                for the red, green, and blue values of the color on the range 0
                                to 255 and a is the opacity of the color (a = 0 = transparent;
                                a = 1 = opaque). As of January 2009, the Mozilla and Google
                                Chrome browsers display colors by this definition method.
                                For example, the color with decimal values 23 for red, 67
                                for green, and 88 for blue and which has an opacity of 0.5
                                (semi-transparent) is rgba(23,67,88,0.5). This is just one
                                of the ways you can define colors in HTML attributes and in
                                Cascading Style Sheets; you can use a
                                quick reference table to help you choose from
                            </p>

                        </b>

                    </b>

                </div>

            </div>
        </div>
  

 <!-- Template-->
<div class="contain">
    <div class="row">

        <div class="col-lg-4 picprod ">
            <img src="http://placehold.it/300x200" class="img-responsive text-center center-block" /><br />


        </div>

        <div class=" col-lg-8 detail">
            <b>
                <font color="white" size="6">Article</font><b>
                    <p>
                        This page demonstrates the decimal representation of color of
                        the form rgba(R,G,B,a), where R, G, and B are the decimal values
                        for the red, green, and blue values of the color on the range 0
                        to 255 and a is the opacity of the color (a = 0 = transparent;
                        a = 1 = opaque). As of January 2009, the Mozilla and Google
                        Chrome browsers display colors by this definition method.
                        For example, the color with decimal values 23 for red, 67
                        for green, and 88 for blue and which has an opacity of 0.5
                        (semi-transparent) is rgba(23,67,88,0.5). This is just one
                        of the ways you can define colors in HTML attributes and in
                        Cascading Style Sheets; you can use a
                        quick reference table to help you choose from
                    </p>

                </b>

            </b>

        </div>

    </div>
</div>


